<script lang="ts">
  import { compact } from 'remeda'
  import { page } from '$app/stores'

  $: title = compact([$page.data.title, 'Kamarikuoro Värinä']).join(' - ')
  $: ogTitle = $page.data.title ?? 'Kamarikuoro Värinä'
  $: description = $page.data.description
  $: image = `${import.meta.env.DEV ? $page.url.origin : import.meta.env.VITE_SITE_URL}${
    $page.data.image ?? '/og-image.png'
  }`
</script>

<svelte:head>
  <title>{title}</title>
  <meta name="description" content={description} />
  <meta property="og:title" content={ogTitle} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={image} />
  <meta property="og:url" content={$page.url.href} />
</svelte:head>

<slot />
