<script lang="ts">
  import MainLayout from '$components/MainLayout.svelte'
  import type { LayoutData } from './$types'
  import '../../app.css'

  export let data: LayoutData
</script>

<MainLayout contacts={data.contacts} socialMedia={data.socialMedia} >
  <slot />
</MainLayout>
