<script lang="ts">
  import SubpageLayout from '$components/SubpageLayout.svelte'
  import type { LayoutData } from './$types'
  import '../../app.css'
  import { page } from '$app/stores'
  import { Color } from '$lib/waves'

  export let data: LayoutData

  $: wave = $page.data.wave || { xOffsetBottom: 0, xOffsetTop: 0, color: Color.silver }
</script>

<SubpageLayout {wave} contacts={data.contacts} socialMedia={data.socialMedia}>
  <slot />
</SubpageLayout>
