<script lang="ts">
  import { animate, easeInOut } from 'popmotion'
  import { line, curveBasis } from 'd3-shape'

  export let yOffset = 0

  const duration = Math.random() * 2000 + 5000
  const ease = easeInOut
  const curve = line().curve(curveBasis)

  const generateCoords = () => {
    return new Array(10).fill([0, 0]).map((_, i): [number, number] => {
      const x = i * 10
      const y = Math.random() * 40 + yOffset

      return [x, y]
    })
  }

  let currentCoords = generateCoords()
  let nextCoords = generateCoords()
  let pathEl: SVGPathElement

  const onUpdate = (v: string | null) => {
    if (!v || !pathEl) return
    pathEl.setAttribute('d', v)
  }

  const onComplete = () => {
    currentCoords = nextCoords
    nextCoords = generateCoords()
  }

  $: {
    const from = curve(currentCoords)
    const to = curve(nextCoords)
    animate({ from, to, duration, ease, onUpdate, onComplete })
  }
</script>

<path fill="none" stroke="black" stroke-width="0.2" bind:this={pathEl} />
