<script lang="ts">
  import Curve from '$components/Curve.svelte'
</script>

<div class="relative 2xl:container mx-auto">
  <Curve class="absolute top-[100px] left-[400px] text-sky z-30" width={500} />
  <Curve class="absolute top-[1000px] right-0 text-sky z-30" width={500} />
  <Curve class="absolute top-[1700px] left-0 text-sky z-30" width={500} />
</div>
