<script lang="ts">
  export let hovering = false
  import type { Data } from '$collections/quotes'
  import { classes } from '$lib/util'
  import OptionalLink from './OptionalLink.svelte'

  export let data: Data
  export let context: 'home' | 'past-events'
  let className: string | undefined = undefined
  export { className as class }
</script>

<figure
  on:mouseenter={() => (hovering = true)}
  on:mouseleave={() => (hovering = false)}
  aria-live="polite"
  aria-atomic="true"
  class="flex flex-col"
>
  <blockquote
    class={classes(
      className,
      "font-bold italic mb-4 tracking-wider before:content-['”'] after:content-['”']",
      context === 'home' && 'text-2xl uppercase font-serif'
    )}
  >
    {data.text}
  </blockquote>
  <figcaption
    class={classes(
      'text-sm font-light uppercase tracking-wider flex flex-col leading-tight lg:mx-24 max-w-md',
      data.link && 'underline'
    )}
  >
    <OptionalLink href={data.link} target="_blank" rel="noopener noreferrer">
      {#if data.author}
        <span>{data.author}</span>
      {/if}
      {#if data.context}
        <span>{data.context}</span>
      {/if}
      {#if data.date}
        <time datetime={data.date}>
          {Intl.DateTimeFormat('fi-FI', { timeZone: 'Europe/Helsinki' }).format(
            new Date(data.date)
          )}
        </time>
      {/if}
    </OptionalLink>
  </figcaption>
</figure>
