<script lang="ts">
  import {
    type DecoratedData,
    getImage as getChoirImage
  } from '$collections/translated-pages/choir'
  import SubpageTitle from './SubpageTitle.svelte'
  import MultiLine from './MultiLine.svelte'
  import Slideshow from './Slideshow.svelte'
  import splash from '../media/static/splash.svg'
  import Markdown from './Markdown.svelte'
  import Heading2 from './Heading2.svelte'
  import ResponsiveImage from './ResponsiveImage.svelte'
  import MailTo from './MailTo.svelte'

  const voices = ['soprano', 'alto', 'tenor', 'bass'] as const

  export let data: DecoratedData

  $: conductorImage = data.conductor.image ? getChoirImage(data.conductor.image) : null
</script>

<div class="flex flex-col lg:flex-row justify-between gap-12 lg:gap-20">
  <div class="lg:w-1/3">
    <SubpageTitle><MultiLine text={data.title} /></SubpageTitle>

    <p class="uppercase mb-4">{data.summary}</p>

    <div class="introduction">
      <Markdown source={data.introduction} />
    </div>
  </div>

  <div class="flex flex-col relative w-full h-fit lg:w-2/3 lg:-mt-24">
    <Slideshow images={data.images} />

    <article
      class="md:absolute pl-10 pt-16 -mt-8 md:mt-0 xl:p-28 bg-no-repeat z-10 bg-60 xl:bg-contain xl:bg-right-top w-full sm:w-96 md:w-80 xl:w-100 md:right-0 md:-bottom-[390px] xl:-bottom-[520px]"
      style={`background-image: url("${splash}")`}
    >
      <Heading2>{data.join.title}</Heading2>

      <Markdown source={data.join.contact_text} class="mb-4" />

      <MailTo email={data.join.contact_link.email} class="uppercase tracking-wide">
        ↗ {data.join.contact_link.text}
      </MailTo>

      <Markdown source={data.join.shop_text} class="mb-4" />

      <a
        href={data.join.shop_link.url}
        target="_blank"
        rel="noopener noreferrer"
        class="uppercase tracking-wide"
      >
        ↗ {data.join.shop_link.text}
      </a>
    </article>
  </div>
</div>

<article
  class="flex flex-col md:flex-row gap-8 items-center md:items-start md:gap-20 mb-20 w-full lg:w-2/3 xl:w-1/2 mt-12 md:mt-32"
>
  {#if conductorImage}
    <ResponsiveImage
      image={conductorImage}
      alt={data.conductor.title}
      class="w-64 h-64 md:w-52 md:h-52 shrink-0"
      imgClass="rounded-full h-full w-full object-cover"
    />
  {/if}

  <div>
    <Heading2>{data.conductor.title}</Heading2>
    <p>{data.conductor.bio}</p>
  </div>
</article>

<article>
  <Heading2>{data.singers.title}</Heading2>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 md:gap-20 md:w-3/4">
    {#each voices as voice}
      <div class="flex flex-col gap-3">
        <h3 class="uppercase tracking-wider">{data.singers.voices[voice]}</h3>
        <ul>
          {#each data.singers[voice] as singer}
            <li>{singer}</li>
          {/each}
        </ul>
      </div>
    {/each}
  </div>
</article>
