<script lang="ts">
  import Choir from './Choir.svelte'
  import SubpageLayout from './SubpageLayout.svelte'
  import type { DecoratedData } from '$collections/translated-pages/choir'

  import { choir as wave } from '$lib/waves'
  export let data: DecoratedData
</script>

<SubpageLayout {wave} contacts={data.contacts} socialMedia={data.socialMedia}>
  <Choir {data} />
</SubpageLayout>
