<script lang="ts">
  import { classes } from '$lib/util'
  import LogoCirclePath from './LogoCirclePath.svelte'

  let className: string | undefined = 'h-[56px] md:h-[80px]'
  export { className as class }
  export let invert = false
</script>

<span class={classes('inline-block', className)}>
  <svg
    id="Ebene_4"
    data-name="Ebene 4"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 247.04 247.04"
    class="w-full h-full"
  >
    <LogoCirclePath {invert} />
  </svg>
</span>
