<script lang="ts">
  import Concerts from './Concerts.svelte'
  import SubpageLayout from './SubpageLayout.svelte'
  import type { DecoratedData } from '$collections/pages/concerts'

  import { concerts as wave } from '$lib/waves'
  export let data: DecoratedData
</script>

<SubpageLayout {wave} contacts={data.contacts} socialMedia={data.socialMedia}>
  <Concerts {data} />
</SubpageLayout>
