<script lang="ts">
  import type { DecoratedData } from '$collections/pages/concerts'
  import EventInstance from './EventInstance.svelte'
  import SubpageTitle from './SubpageTitle.svelte'

  export let data: DecoratedData
</script>

<div class="w-full lg:w-3/5 xl:w-1/3 mb-24">
  <SubpageTitle class="w-64">{data.title}</SubpageTitle>

  {#if data.summary}<p class="uppercase">{data.summary}</p>{/if}
</div>

<ol class="flex flex-col gap-8 mb-48">
  {#each data.events as event}
    <EventInstance data={event} />
  {/each}
</ol>
