<script lang="ts">
  import { classes } from '$lib/util'
  import MailTo from './MailTo.svelte'
  import type { Data } from '$collections/contacts'

  export let data: Data

  export let style: 'footer' | 'press'
  let className: string | undefined = undefined
  export { className as class }

  let addressLines: string[] = []

  $: addressLines = data.address ? data.address.split('\n') : []
</script>

<address class={classes('flex flex-col text-regular not-italic', className)}>
  <h4 class={classes('tracking-wider uppercase', style === 'footer' ? 'font-bold' : undefined)}>
    {data.title}
  </h4>

  {#if data.name}
    <span>{data.name}</span>
  {/if}

  {#if data.email}
    <MailTo email={data.email} class="underline" let:decodedEmail>
      {decodedEmail}
    </MailTo>
  {/if}

  {#if addressLines.length > 0}
    <p>
      {#each addressLines as line, i}
        {line}
        {#if i < addressLines.length - 1}
          <br />
        {/if}
      {/each}
    </p>
  {/if}
</address>
