<script lang="ts">
  import { line } from 'd3-shape'
  import { animate, easeOut } from 'popmotion'
  import { onMount } from 'svelte'
  import { writable } from 'svelte/store'

  let className: string | undefined = undefined
  export { className as class }

  export let width: number
  const amplitude = 13
  const strokeWidth = 13

  const targetOffset = writable(0)
  let currentOffset = 0

  const sine = (i: number, offset = 0): [number, number] => [
    (i / (width - 1)) * width - 1,
    strokeWidth / 2 +
      amplitude +
      amplitude * Math.sin((i / width) * (width / 80) * Math.PI + offset)
  ]
  const data = (offset = 0) =>
    Array.from({ length: width }, (_, i): [number, number] => sine(i, offset))

  const lineGenerator = line()
  let path = lineGenerator(data())

  targetOffset.subscribe(($targetOffset) => {
    animate({
      from: currentOffset,
      to: $targetOffset,
      ease: easeOut,
      onUpdate: (offset: number) => {
        path = lineGenerator(data(offset))
        currentOffset = offset
      }
    })
  })

  const handleScroll = (event: WheelEvent) => {
    const deltaY = Math.min(Math.abs(event.deltaY), 20) * Math.sign(event.deltaY)
    targetOffset.update((offset) => offset + deltaY * 0.005)
  }

  onMount(() => {
    document.addEventListener('wheel', handleScroll)
    return () => window.removeEventListener('wheel', handleScroll)
  })
</script>

<svg
  class={className}
  stroke="currentColor"
  viewBox={`0 0 ${width} ${amplitude * 2 + strokeWidth}`}
  {width}
>
  <g class="isolate">
    <path fill="none" stroke-width={strokeWidth} d={path} />
  </g>
</svg>
