<script lang="ts">
  import type { Data } from '$collections/events'
  import EventInstanceComponent from './EventInstance.svelte'

  export let data: Data
</script>

<section class="flex flex-col max-w-screen-2xl p-12 gap-8 bg-white">
  {#each data.instances as instance}
    <EventInstanceComponent data={{ ...data, ...instance }} />
  {/each}
</section>
