<script lang="ts">
  import { Calendar, Clock, MapPin, Ticket } from '@steeze-ui/heroicons'
  import Markdown from './Markdown.svelte'
  import EventInfo from './EventInfo.svelte'
  import MultiLine from './MultiLine.svelte'
  import { getImage, type DecoratedFlatEvent } from '$collections/events'
  import ResponsiveImage from './ResponsiveImage.svelte'
  import CircleLogo from './CircleLogo.svelte'
  import TicketLinks from './TicketLinks.svelte'

  export let data: DecoratedFlatEvent

  $: time = data.time ? new Date(data.time) : undefined
</script>

<li
  id={data.slug}
  class="relative flex flex-col xl:flex-row bg-white rounded-lg border border-cottoncandy items-center xl:items-start"
>
  <div
    class="absolute top-0 left-0 flex flex-col text-2xl font-bold bg-cottoncandy rounded-full w-24 h-24 items-center justify-center -mt-4 -ml-6"
  >
    {#if time}
      <time datetime={data.time} class="leading-[1.1rem] text-center mt-2">
        {#if time}
          {Intl.DateTimeFormat('fi-FI', { day: 'numeric', timeZone: 'Europe/Helsinki' }).format(
            time
          )}.<br />
          <span class="capitalize text-sm">
            {Intl.DateTimeFormat('fi-FI', { month: 'long', timeZone: 'Europe/Helsinki' }).format(
              time
            )}
          </span>
        {/if}
      </time>
    {/if}
  </div>

  <div class="flex-shrink-0 pt-6 pl-6">
    {#if data.image}
      <ResponsiveImage
        image={getImage(data.image)}
        alt={data.title}
        imgClass="rounded-full w-64 h-64 xl:w-52 xl:h-52 object-cover"
      />
    {:else}
      <CircleLogo class="text-slate w-64 h-64 xl:w-52 xl:h-52" />
    {/if}
  </div>

  <div class="p-8 pt-12 pr-16 flex-auto">
    <h4 class="text-2xl font-bold tracking-wider mb-4">{data.title}</h4>

    <p class="uppercase tracking-widest mb-12"><MultiLine text={data.description} /></p>
    <Markdown source={data.info} />

    {#if data.news_item}
      <a href={`/news/${data.news_item}`} class="inline-block uppercase tracking-wider mt-8">
        ↗ Lue lisää
      </a>
    {/if}
  </div>

  <div
    class="p-4 sm:p-12 pb-6 pt-12 flex flex-col justify-between w-full xl:w-1/3 flex-grow flex-shrink-0 border-t xl:border-l xl:border-t-0 gap-14 border-dashed border-cottoncandy self-stretch"
  >
    <div class="flex flex-wrap">
      <EventInfo icon={Calendar}>
        <span class="font-bold inline-block">
          <time datetime={data.time}>
            {#if time}
              {Intl.DateTimeFormat('fi-FI', {
                weekday: 'long',
                timeZone: 'Europe/Helsinki'
              }).format(time)},<br />
              {Intl.DateTimeFormat('fi-FI', {
                day: 'numeric',
                month: 'numeric',
                year: 'numeric',
                timeZone: 'Europe/Helsinki'
              }).format(time)}
            {/if}
          </time>
        </span>
      </EventInfo>

      <EventInfo icon={Clock}>
        {#if time}
          <time class="font-bold" datetime={data.time}
            >{Intl.DateTimeFormat('fi-FI', {
              hour: 'numeric',
              minute: 'numeric',
              timeZone: 'Europe/Helsinki'
            }).format(time)}</time
          >
        {/if}
      </EventInfo>

      <EventInfo icon={MapPin}>
        <div class="flex flex-col">
          {#if data.place}
            <span class="font-bold">{data.place.name}</span>
            <MultiLine text={data.place.address} />
          {/if}
        </div>
      </EventInfo>

      <EventInfo icon={Ticket} rotate>
        <span class="font-bold">
          Liput<br />
          {data.prices.join(' / ')} €
        </span>
      </EventInfo>
    </div>

    <TicketLinks links={data.ticket_links} />
  </div>
</li>
