<script lang="ts">
  import { classes } from '$lib/util'
  import type { IconSource } from '@steeze-ui/heroicons'
  import { Icon } from '@steeze-ui/svelte-icon'

  export let icon: IconSource
  export let rotate = false
</script>

<div
  class="flex items-start gap-4 h-20 min-w-full md:min-w-[50%] lg:min-w-[25%] xl:min-w-[50%] pr-4"
>
  <Icon
    src={icon}
    class={classes('w-8 h-8 text-cottoncandy shrink-0', rotate ? '-rotate-12' : undefined)}
  />
  <div class="mt-1.5 uppercase tracking-widest">
    <slot />
  </div>
</div>
