<script lang="ts">
  import { classes, formattedDates, formattedPlaces } from '$lib/util'
  import MultiLine from './MultiLine.svelte'
  import type { DecoratedEvent } from '$collections/pages/past-events'
  let className: string | undefined = undefined
  export { className as class }
  export let data: DecoratedEvent
</script>

<li class={classes(className, "flex flex-col")}>
  <h3 class="font-bold">
    <MultiLine text={data.title} />
  </h3>

  <p class="text-sm">
    {formattedDates(data.dates)} // {formattedPlaces(data.places.map((place) => place.name))}
  </p>
</li>
