<script lang="ts">
  import Contact from './Contact.svelte'
  import type { Data as ContactData } from '$collections/contacts'
  import type { Data as SocialMedia } from '$collections/settings/social-media'

  export let contacts: ContactData[] = []
  export let socialMedia: SocialMedia
  let className: string | undefined = undefined
  export { className as class }

  import instagram from '../media/static/instagram.svg'
  import facebook from '../media/static/facebook.svg'
  import CircleLogo from './CircleLogo.svelte'

  const year = new Date().getFullYear()
</script>

<footer class={className}>
  <slot />
  <div class="bg-slate px-8 lg:px-24 py-12 text-white text-sm z-50">
    <div class="flex flex-col mb-8 sm:flex-row justify-between">
      <div class="flex flex-col sm:flex-row items-start gap-12 pb-12">
        <a href="/">
          <CircleLogo class="text-slate h-[56px] md:h-[80px]" invert />
          <span class="sr-only">Home</span>
        </a>

        <div class="flex flex-col">
          <h3 class="font-bold tracking-wider uppercase mb-4">Kamarikuoro Värinä Ry</h3>

          <div class={`columns-3xs`}>
            {#each contacts as contact}
              <div class="inline-block w-full">
                <Contact data={contact} class="mb-4" style="footer" />
              </div>
            {/each}
          </div>
        </div>
      </div>

      <div class="flex flex-col items-end justify-between min-h-full">
        <div class="flex gap-4">
          <a href={socialMedia.instagram} target="_blank" rel="noopener noreferrer">
            <img src={instagram} alt="instagram" class="w-12" />
            <span class="sr-only">Instagram</span>
          </a>

          <a href={socialMedia.facebook} target="_blank" rel="noopener noreferrer">
            <img src={facebook} alt="facebook" class="w-12" />
            <span class="sr-only">Facebook</span>
          </a>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap justify-end gap-4 lg:gap-24">
      <span>© {year} Kamarikuoro Värinä Ry</span>
    </div>
  </div>
</footer>
