<script lang="ts">
  import Logo from './Logo.svelte'
  import type { Color } from '../../tailwind.config.js'
  import { classes, colorClasses } from '$lib/util'
  import { page } from '$app/stores'
  import { locales as availableLocales, type Locale } from '$lib/cms/i18n'
  import { Icon } from '@steeze-ui/svelte-icon'
  import { Bars3 } from '@steeze-ui/heroicons'
  export let color: Color | undefined = undefined
  const development = import.meta.env.DEV

  $: locales = availableLocales.filter(
    (locale) =>
      (!$page.params.locale && locale !== 'fi') ||
      ($page.params.locale && locale !== $page.params.locale)
  )

  const labels: Record<Locale, string> = {
    fi: 'Suomeksi',
    se: 'På svenska',
    en: 'In English'
  }
</script>

<input type="checkbox" id="menu-toggle" class="hidden" />

<header class="w-full">
  <div class={classes('flex justify-between p-8 md:p-12', color && colorClasses.bg[color])}>
    <div class="flex gap-8 items-start">
      <a href="/">
        <Logo
          class={classes('mb-4 xl:mb-12', colorClasses.text[color ?? 'slate'])}
          invert={Boolean(color)}
        />
        <span class="sr-only">Home</span>
      </a>

      {#if development}
        <div class="text-sm rounded-lg bg-mustard p-2">
          <span class="inline sm:hidden">Mobile</span>
          <span class="hidden sm:inline md:hidden">Tablet (sm)</span>
          <span class="hidden md:inline lg:hidden">Desktop (md)</span>
          <span class="hidden lg:inline xl:hidden">Large Desktop (lg)</span>
          <span class="hidden xl:inline">Extra Large Desktop (xl)</span>
        </div>
      {/if}
    </div>

    <div class="flex gap-4">
      {#each locales as locale}
        <a href={`/${locale}/choir`} class="uppercase w-4 mt-[3px]" title={labels[locale]}
          >{locale}</a
        >
      {/each}

      <label for="menu-toggle" class="cursor-pointer grow-0">
        <Icon src={Bars3} size="24" />
        <span class="sr-only">Menu</span>
      </label>
    </div>
  </div>
  <slot />
</header>
