<script lang="ts">
  import type { DecoratedData } from '$collections/highlights'
  import HighlightsCarousel from './HighlightsCarousel.svelte'

  export let data: DecoratedData
</script>

<section class="flex flex-col max-w-screen-2xl p-12 gap-8 bg-white">
  <HighlightsCarousel highlights={[data]} />
</section>
