<script lang="ts">
  import type { DecoratedData as Highlight } from '$collections/highlights'
  import { classes } from '$lib/util'
  import ResponsiveImage from './ResponsiveImage.svelte'
  import Markdown from './Markdown.svelte'
  import { onMount } from 'svelte'

  export let highlights: Highlight[]
  let currentEventIndex = 0
  let startX = 0
  let distance = 0
  let hover = false
  let lastManualAction = 0

  onMount(() => {
    const interval = setInterval(() => {
      if (hover || new Date().getTime() - lastManualAction < 15000) return
      currentEventIndex = (currentEventIndex + 1) % highlights.length
    }, 8000)

    return () => clearInterval(interval)
  })

  const goToSlide = (index: number) => {
    currentEventIndex = index
    lastManualAction = new Date().getTime()
  }
</script>

<div class="flex flex-col justify-center items-center">
  <div
    class="flex flex-col items-center overflow-x-hidden w-screen xl:max-w-screen-2xl"
    on:mouseenter={() => (hover = true)}
    on:mouseleave={() => (hover = false)}
    role="presentation"
  >
    <div class="flex items-stretch relative w-3/4 lg:w-2/3 xl:w-1/2">
      {#each highlights as highlight, i (highlight.id)}
        <div
          class={classes(
            'w-full transition flex-col row-start-1 col-start-1',
            i !== currentEventIndex && 'scale-90 md:scale-85 opacity-50 hover:opacity-80 absolute',
            i < currentEventIndex && '-translate-x-full dimmed',
            i > currentEventIndex && 'translate-x-full dimmed',
            i < currentEventIndex - 1 || i > currentEventIndex + 1 ? 'invisible' : 'flex'
          )}
        >
          <div class="flex items-center">
            <button
              disabled={i !== currentEventIndex - 1 && i !== currentEventIndex + 1}
              type="button"
              on:click={() => goToSlide(i)}
              on:touchstart|passive={({ touches }) => {
                startX = touches[0].clientX
                distance = 0
                hover = true
              }}
              on:touchmove|passive={({ touches }) => {
                if (touches.length === 1) {
                  const touchX = touches[0].clientX
                  distance = startX - touchX
                }
              }}
              on:touchend|passive={({ touches }) => {
                const threshold = 50

                if (touches.length === 0) {
                  if (distance > threshold) {
                    goToSlide(Math.min(currentEventIndex + 1, highlights.length - 1))
                  } else if (distance < -threshold) {
                    goToSlide(Math.max(currentEventIndex - 1, 0))
                  }
                }
                hover = false
              }}
            >
              <ResponsiveImage
                image={highlight.image}
                alt={highlight.image_alt}
                imgClass="object-cover"
              />

              {#if i === currentEventIndex - 1}
                <span class="sr-only">Edellinen</span>
              {:else if i === currentEventIndex + 1}
                <span class="sr-only">Seuraava</span>
              {/if}
            </button>
          </div>
        </div>
      {/each}
    </div>

    <div
      class="grid grid-cols-1 w-3/4 lg:w-2/3 xl:w-1/2"
      on:mouseenter={() => (hover = true)}
      on:mouseleave={() => (hover = false)}
      role="presentation"
    >
      {#each highlights as highlight, i (highlight.id)}
        <div
          class={classes(
            'transition flex flex-col mt-10 md:pr-20 row-start-1 col-start-1',
            i !== currentEventIndex && 'opacity-0',
            i < currentEventIndex && '-translate-x-44',
            i > currentEventIndex && 'translate-x-44'
          )}
        >
          <h3 class="text-2xl font-bold">
            {highlight.title}
          </h3>

          <Markdown source={highlight.text} />
          {#if highlight.image_credit}
            <p class="text-sm mt-4">
              Kuva: {highlight.image_credit}
            </p>
          {/if}
        </div>
      {/each}
    </div>
  </div>
</div>

<style lang="postcss">
  @media (hover: none) {
    .dimmed {
      opacity: 0.5 !important;
    }
  }
</style>
