<script lang="ts">
  import type { DecoratedData } from '$collections/pages/home'
  import Quotes from './Quotes.svelte'
  import MultiLine from './MultiLine.svelte'
  import ImageLink from './ImageLink.svelte'
  import NewsTitles from './NewsTitles.svelte'

  export let data: DecoratedData
</script>

<div
  class="xl:px-12 grid grid-cols-1 md:grid-cols-12 gap-4 xl:gap-10 md:auto-rows-[minmax(0,_40px)}] lg:auto-rows-[minmax(0,_70px)] xl:auto-rows-[minmax(0,_80px)]"
>
  <NewsTitles events={data.events} news={data.news} />

  <ImageLink
    title={data.labels.choir}
    to="choir"
    class="md:col-span-8 md:row-start-2 md:row-span-5"
  />
  <ImageLink
    title={data.labels.concerts}
    to="concerts"
    class="md:col-span-3 md:col-start-10 md:row-start-4 xl:row-start-4 md:row-span-6"
    imageClass="object-top"
  />
  <ImageLink
    title={data.labels.listen}
    to="listen"
    class="md:col-span-3 md:col-start-1 xl:col-start-2 md:row-start-15 xl:row-start-8 md:row-span-7 xl:row-span-8"
    imageClass="object-top"
  />
  <main
    class="row-start-3 md:row-start-7 font-light tracking-widest md:col-start-3 lg:col-start-5 md:col-span-7 lg:col-span-5 md:row-span-3 xl:row-span-2 flex gap-2"
  >
    <span aria-hidden="true" class="text-3xl xl:text-5xl">//</span>
    <p class="uppercase xl:text-lg">
      <MultiLine text={data.introduction} />
    </p>
  </main>
  <ImageLink
    title={data.labels.rauhaa}
    to="rauhaa"
    class="md:col-span-6 xl:col-span-5 md:col-start-2 xl:col-start-5 md:row-start-9 md:row-span-4"
  />
  <ImageLink
    title={data.labels.pastEvents}
    to="highlights"
    class="md:col-span-7 md:col-start-5 xl:col-start-6 md:row-start-14 md:row-span-5"
  />
  <ImageLink
    title={data.labels.press}
    to="press"
    class="md:col-span-5 md:col-start-2 xl:col-start-3 md:row-start-23 xl:row-start-19 md:row-span-4"
  />

  {#if data.quotes.length > 0}
    <Quotes
      data={data.quotes}
      class="mt-8 md:mt-0 md:row-start-20 md:col-start-6 xl:col-start-8 md:col-span-6 xl:col-span-5 z-10"
    />
  {/if}
</div>
