<script lang="ts">
  import type { DecoratedData } from '$collections/pages/home'
  import Home from './Home.svelte'
  import MainLayout from './MainLayout.svelte'

  export let data: DecoratedData
</script>

<MainLayout contacts={data.contacts} socialMedia={data.socialMedia}>
  <Home {data} />
</MainLayout>
