<script lang="ts">
  import { classes } from '$lib/util'
  import choir from '$media/static/menu/choir.jpg?w=470;800;900;1400&format=avif;webp;jpg&as=picture'
  import concerts from '$media/static/menu/concerts.jpg?w=200;320;470;900&format=avif;webp;jpg&as=picture'
  import listen from '$media/static/menu/listen.jpg?w=200;320;470;900&format=avif;webp;jpg&as=picture'
  import rauhaa from '$media/static/menu/rauhaa.jpg?w=470;550;600;1200&format=avif;webp;jpg&as=picture'
  import pastEvents from '$media/static/menu/past-events.jpg?w=470;700;780;1400&format=avif;webp;jpg&as=picture'
  import press from '$media/static/menu/press.jpg?w=300;550;1100&format=avif;webp;jpg&as=picture'
  import ResponsiveImage from './ResponsiveImage.svelte'

  type Destination = 'choir' | 'concerts' | 'listen' | 'rauhaa' | 'highlights' | 'press'

  const bgClasses: Record<Destination, string> = {
    choir: 'from-sky',
    concerts: 'from-cottoncandy',
    listen: 'from-mustard',
    rauhaa: 'from-silver',
    highlights: 'from-cottoncandy',
    press: 'from-silver'
  }

  export let to: keyof typeof bgClasses

  const images = {
    choir,
    concerts,
    listen,
    rauhaa,
    highlights: pastEvents,
    press
  }

  const image = images[to]
  let className: string | undefined = undefined
  export let imageClass: string | undefined = undefined
  export let title: string
  export { className as class }

  const href = `/${to}`
</script>

<a
  {href}
  class={classes(
    'group aspect-square md:aspect-auto image-link relative h-full w-full flex flex-col',
    className
  )}
  tabindex={0}
>
  <span
    class={classes(
      'absolute text-xl w-full h-full xl:text-3xl font-bold uppercase tracking-wider m-auto opacity-0 group-hover:opacity-100 transition-opacity p-6 bg-gradient-to-b from-00% to-50% text-white',
      bgClasses[to]
    )}>{title}</span
  >

  <ResponsiveImage
    alt={title}
    class="w-full h-full"
    {image}
    imgClass={classes(imageClass, 'w-full h-full object-cover')}
  />
</a>

<style lang="postcss">
  @media (hover: none) {
    a > span {
      opacity: 100% !important;
    }
  }
</style>
