<script lang="ts">
  import Listen from './Listen.svelte'
  import SubpageLayout from './SubpageLayout.svelte'
  import type { DecoratedData } from '$collections/pages/listen'

  import { listen as wave } from '$lib/waves'
  export let data: DecoratedData
</script>

<SubpageLayout {wave} contacts={data.contacts} socialMedia={data.socialMedia}>
  <Listen {data} />
</SubpageLayout>
