<script lang="ts">
  import type { DecoratedData } from '$collections/pages/listen'
  import Sample from './Sample.svelte'
  import SubpageTitle from './SubpageTitle.svelte'
  import Markdown from './Markdown.svelte'
  import MailTo from './MailTo.svelte'
  import Record from './Record.svelte'

  export let data: DecoratedData
</script>

<div>
  <div class="flex justify-center">
    <SubpageTitle>{data.title}</SubpageTitle>
  </div>

  <div class="mb-44">
    <ul class="grid grid-cols-1 xl:grid-cols-2 gap-12 mt-32">
      {#each data.samples as sample}
        <Sample data={sample} />
      {/each}
    </ul>

    {#if data.records.length > 1}
      <section>
        <h2 class="text-2xl font-bold tracking-widest mb-16 ml-32">Kamarikuoron levyt</h2>

        <ul class="mb-40 flex flex-col gap-8">
          {#each data.records as record}
            <li>
              <Record data={record} />
            </li>
          {/each}
        </ul>

        <div class="flex flex-col xl:flex-row gap-20 sm:w-3/4 mb-44">
          <section class="flex flex-col items-center sm:items-start sm:flex-row">
            <h3
              class="rounded-full bg-silver w-32 h-32 text-center flex items-center justify-center uppercase font-bold tracking-widest shrink-0 pt-2"
            >
              Määrä&shy;alennus
            </h3>

            <div class="mt-8 sm:mt-28">
              <Markdown source={data.discount.text} class="mb-4" />

              <MailTo email={data.discount.contact} class="uppercase tracking-wide"
                >↗ Ota yhteyttä</MailTo
              >
            </div>
          </section>

          <section class="flex flex-col items-center sm:items-start sm:flex-row">
            <h3
              class="rounded-full bg-silver w-32 h-32 text-center flex items-center justify-center uppercase font-bold tracking-widest shrink-0 pt-2"
            >
              Toimitus&shy;kulut
            </h3>

            <div class="mt-8 sm:mt-28">
              <Markdown source={data.shipping.text} class="mb-4" />

              <MailTo email={data.shipping.contact} class="uppercase tracking-wide"
                >↗ Ota yhteyttä</MailTo
              >
            </div>
          </section>
        </div>
      </section>
    {/if}
  </div>
</div>
