<script lang="ts">
  import LogoCirclePath from './LogoCirclePath.svelte'

  let className: string | undefined = undefined
  export let invert = false
  export { className as class }
</script>

<span class={className}>
  <svg
    id="Ebene_4"
    data-name="Ebene 4"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 789.03 247.04"
    class="w-[180px] md:w-[250px]"
  >
    <LogoCirclePath {invert} />
    <g class="hidden sm:inline">
      <path
        d="m327.45,79.4v-46.84h5.4v20.65l17.32-20.65h6.59l-18.65,22.05,19.39,24.79h-7.03l-17.61-23.16v-.07,23.24h-5.4Z"
      />
      <path
        d="m424.78,32.56h5.7l16.8,46.84h-5.62l-3.77-10.95h-20.35l-3.85,10.95h-5.7l16.8-46.84Zm2.81,6.14l-8.58,25.16h17.24l-8.66-25.16Z"
      />
      <path
        d="m507.61,40.48v38.92h-5.48v-46.84h6.81c3.35,7.75,7.57,19.14,12.65,34.19,1.04,3.16,1.85,5.53,2.44,7.1.59-1.78,1.11-3.3,1.55-4.59,5.52-16.23,10.09-28.46,13.69-36.7h6.66v46.84h-5.48v-39c-2.57,8.29-7.2,21.29-13.91,39h-4.96c-5.87-14.4-10.53-27.38-13.99-38.92Z"
      />
      <path
        d="m617.6,32.56h5.7l16.8,46.84h-5.62l-3.77-10.95h-20.35l-3.85,10.95h-5.7l16.8-46.84Zm2.81,6.14l-8.58,25.16h17.24l-8.66-25.16Z"
      />
      <path
        d="m694.96,79.4v-46.84c4.39-.59,8.19-.89,11.4-.89,11.05,0,16.58,4.74,16.58,14.21,0,6.46-2.76,10.8-8.29,13.02l9.4,20.5h-5.55l-8.66-19.17-.07-.07c-.84.1-1.88.15-3.11.15-1.92,0-4-.15-6.22-.44v19.54h-5.48Zm5.48-42.85v18.87c1.78.3,3.75.44,5.92.44,7.2,0,10.8-3.33,10.8-9.99s-3.6-9.84-10.8-9.84c-2.27,0-4.24.17-5.92.52Z"
      />
      <path d="m786.07,32.56v46.84h-5.48v-46.84h5.48Z" />
    </g>
    <g class="hidden sm:inline">
      <path
        d="m327.45,147.04v-46.84h5.4v20.65l17.32-20.65h6.59l-18.65,22.05,19.39,24.79h-7.03l-17.61-23.16v-.07,23.24h-5.4Z"
      />
      <path
        d="m428.97,100.2h5.55v28.93c0,9.32,3.72,13.99,11.17,13.99s11.1-4.66,11.1-13.99v-28.93h5.62v27.31c0,13.62-5.58,20.42-16.72,20.42s-16.72-6.81-16.72-20.42v-27.31Z"
      />
      <path
        d="m556.17,147.93c-6.76,0-12.01-2.79-15.76-8.36-2.91-4.34-4.37-9.62-4.37-15.84,0-7.2,1.92-13.12,5.77-17.76,3.65-4.44,8.44-6.66,14.36-6.66,6.76,0,12.01,2.81,15.76,8.44,2.91,4.44,4.37,9.77,4.37,15.98,0,7.2-1.92,13.1-5.77,17.69-3.65,4.34-8.44,6.51-14.36,6.51Zm-14.28-24.2c0,6.21,1.36,11.08,4.07,14.58,2.52,3.21,5.92,4.81,10.21,4.81,4.93,0,8.66-2.07,11.17-6.22,2.07-3.4,3.11-7.79,3.11-13.17,0-6.22-1.36-11.1-4.07-14.65-2.52-3.35-5.92-5.03-10.21-5.03-4.88,0-8.61,2.15-11.17,6.44-2.07,3.45-3.11,7.87-3.11,13.25Z"
      />
      <path
        d="m649.92,147.04v-46.84c4.39-.59,8.19-.89,11.4-.89,11.05,0,16.58,4.74,16.58,14.21,0,6.46-2.76,10.8-8.29,13.02l9.4,20.5h-5.55l-8.66-19.17-.07-.07c-.84.1-1.88.15-3.11.15-1.92,0-4-.15-6.22-.44v19.54h-5.48Zm5.48-42.85v18.87c1.78.29,3.75.44,5.92.44,7.2,0,10.8-3.33,10.8-9.99s-3.6-9.84-10.8-9.84c-2.27,0-4.24.17-5.92.52Z"
      />
      <path
        d="m768.91,147.93c-6.76,0-12.01-2.79-15.76-8.36-2.91-4.34-4.37-9.62-4.37-15.84,0-7.2,1.92-13.12,5.77-17.76,3.65-4.44,8.44-6.66,14.36-6.66,6.76,0,12.01,2.81,15.76,8.44,2.91,4.44,4.37,9.77,4.37,15.98,0,7.2-1.92,13.1-5.77,17.69-3.65,4.34-8.44,6.51-14.36,6.51Zm-14.28-24.2c0,6.21,1.36,11.08,4.07,14.58,2.52,3.21,5.92,4.81,10.21,4.81,4.93,0,8.66-2.07,11.17-6.22,2.07-3.4,3.11-7.79,3.11-13.17,0-6.22-1.36-11.1-4.07-14.65-2.52-3.35-5.92-5.03-10.21-5.03-4.88,0-8.61,2.15-11.17,6.44-2.07,3.45-3.11,7.87-3.11,13.25Z"
      />
    </g>
    <g class="hidden sm:inline">
      <path d="m327.82,167.85l13.25,38.85,13.1-38.85h5.92l-16.87,46.84h-4.44l-16.87-46.84h5.92Z" />
      <path
        d="m424.25,167.85h5.7l16.8,46.84h-5.62l-3.77-10.95h-20.35l-3.85,10.95h-5.7l16.8-46.84Zm-5.99-10.14c0-.89.32-1.64.96-2.26.64-.62,1.41-.93,2.29-.93s1.65.32,2.29.96c.64.64.96,1.38.96,2.22,0,.94-.32,1.71-.96,2.33-.64.62-1.41.92-2.29.92-.94,0-1.71-.31-2.33-.92-.62-.62-.92-1.39-.92-2.33Zm8.81,16.28l-8.58,25.16h17.24l-8.66-25.16Zm2.37-16.28c0-.84.32-1.58.96-2.22.64-.64,1.41-.96,2.29-.96s1.65.32,2.29.96c.64.64.96,1.38.96,2.22,0,.94-.32,1.71-.96,2.33-.64.62-1.41.92-2.29.92-.94,0-1.71-.31-2.33-.92-.62-.62-.92-1.39-.92-2.33Z"
      />
      <path
        d="m504.77,214.69v-46.84c4.39-.59,8.19-.89,11.4-.89,11.05,0,16.58,4.74,16.58,14.21,0,6.46-2.76,10.8-8.29,13.02l9.4,20.5h-5.55l-8.66-19.17-.07-.07c-.84.1-1.88.15-3.11.15-1.92,0-4-.15-6.22-.44v19.54h-5.48Zm5.48-42.85v18.87c1.78.3,3.75.44,5.92.44,7.2,0,10.8-3.33,10.8-9.99s-3.6-9.84-10.8-9.84c-2.27,0-4.24.17-5.92.52Z"
      />
      <path d="m597.95,167.85v46.84h-5.48v-46.84h5.48Z" />
      <path
        d="m665.89,214.69h-5.48v-46.84h4.96c4.49,6.76,12.31,19.49,23.46,38.18v-38.18h5.48v46.84h-5.11c-2.66-4-8.09-12.63-16.28-25.9-3.45-5.62-5.8-9.47-7.03-11.54v37.44Z"
      />
      <path
        d="m768.02,167.85h5.7l16.8,46.84h-5.62l-3.77-10.95h-20.35l-3.85,10.95h-5.7l16.8-46.84Zm-5.99-10.14c0-.89.32-1.64.96-2.26.64-.62,1.41-.93,2.29-.93s1.65.32,2.29.96c.64.64.96,1.38.96,2.22,0,.94-.32,1.71-.96,2.33-.64.62-1.41.92-2.29.92-.94,0-1.71-.31-2.33-.92-.62-.62-.92-1.39-.92-2.33Zm8.81,16.28l-8.58,25.16h17.24l-8.66-25.16Zm2.37-16.28c0-.84.32-1.58.96-2.22.64-.64,1.41-.96,2.29-.96s1.65.32,2.29.96c.64.64.96,1.38.96,2.22,0,.94-.32,1.71-.96,2.33-.64.62-1.41.92-2.29.92-.94,0-1.71-.31-2.33-.92-.62-.62-.92-1.39-.92-2.33Z"
      />
    </g>
  </svg>
</span>
