<script lang="ts">
  export let invert = false

  $: fgClass = invert ? 'fill-current' : 'fill-white'
  $: bgClass = invert ? 'fill-white' : 'fill-current'
</script>

<circle class={bgClass} cx="123.52" cy="123.52" r="123.52" />
<g>
  <path
    class={fgClass}
    d="m45.69,123.85c18.38,0,32.75-21.17,47.96-43.59,11.94-17.6,25.47-37.54,37.92-39.82,11.57-2.11,17.65,2.34,25.34,7.98,5.94,4.36,12.68,9.29,22.32,11.07,17.63,3.26,31.72-3.58,42.26-11.21-2.66-3.46-5.5-6.78-8.51-9.94-9.2,6.51-19.14,10.63-31.39,8.37-6.72-1.24-11.71-4.9-17-8.78-8.57-6.28-18.29-13.41-35.37-10.28-17.8,3.26-32.31,24.63-46.34,45.31-12.05,17.76-25.71,37.89-37.2,37.89-2,0-11.11-2.21-36.45-34.25-1.94,4.72-3.59,9.58-4.94,14.57.4.49.81.99,1.21,1.46,12.13,14.54,27.66,31.22,40.19,31.22Z"
  />
  <path
    class={fgClass}
    d="m43.83,55.95c18.16,0,32.62-18.15,47.94-37.37,4.76-5.98,9.59-12.03,14.43-17.36-7.26,1.02-14.32,2.67-21.11,4.89-1.17,1.45-2.33,2.91-3.49,4.36-12.72,15.96-25.87,32.47-37.77,32.47-1.39,0-4.38-.66-9.93-4.42-2.99,3.15-5.81,6.46-8.45,9.91,8.79,6.17,14.36,7.51,18.38,7.51Z"
  />
  <path
    class={fgClass}
    d="m151.99,212.14c-12.5,3-22.85,17.07-32.89,34.82,1.47.05,2.94.09,4.42.09,3.69,0,7.34-.17,10.95-.49,6.93-11.28,14.06-20.21,20.56-21.77,9.72-2.34,14.84,1.91,22.89,9.66,4.08-2.01,8.04-4.23,11.86-6.66-.86-.81-1.73-1.64-2.6-2.48-8.01-7.71-17.97-17.3-35.19-13.17Z"
  />
  <path
    class={fgClass}
    d="m236.11,147.37l-2.3,2.49c-12.18,13.19-24.47,24.73-40.89,20.99-6.34-1.44-11.18-5.81-16.3-10.43-8.09-7.3-18.17-16.38-35.44-12.5-17.63,3.97-31.13,28.46-45.43,54.39-6.54,11.86-14,25.4-21.23,34.63,4.14,1.79,8.39,3.36,12.74,4.7,6.77-9.3,13.24-21.02,19.87-33.05,11.71-21.23,24.97-45.3,36.9-47.98,10.71-2.41,16.24,2.57,23.88,9.47,5.85,5.27,12.48,11.25,22.12,13.45,3.15.72,6.18,1.04,9.09,1.04,18.86,0,32.84-13.67,42.14-23.63,2.51-7.92,4.26-16.18,5.13-24.71-3.33,3.62-6.76,7.33-10.28,11.14Z"
  />
  <path
    class={fgClass}
    d="m133.05,96.42c11.13-2.34,16.79,2.44,24.64,9.04,5.93,5,12.65,10.66,22.37,12.73,25.29,5.38,43.19-12.74,53.88-23.57l2.33-2.36c1.77-1.79,3.52-3.56,5.26-5.32-1.42-4.59-3.11-9.06-5.03-13.41-3.08,3.12-6.23,6.31-9.47,9.58l-2.34,2.37c-12.43,12.59-24.99,23.59-41.93,19.99-6.53-1.39-11.47-5.55-16.7-9.96-8.6-7.25-18.35-15.47-35.69-11.83-17.83,3.75-31.57,27.04-46.12,51.7-11.99,20.33-25.58,43.37-36.71,43.37-1.37,0-12.51-1.93-47.53-56.72,0,.49-.02.99-.02,1.48C0,132.51.97,141.27,2.79,149.71c1.54,2.2,3.05,4.33,4.52,6.36,22.96,31.64,33.56,35.69,40.24,35.69,18.55,0,32.81-24.17,47.91-49.76,11.89-20.16,25.38-43.01,37.6-45.58Z"
  />
</g>
