<script lang="ts">
  import { browser } from '$app/environment'

  export let email: string
  let className: string | undefined = undefined
  export { className as class }

  $: decodedEmail = browser ? atob(email) : 'masked@masked.masked'
</script>

<a href={`mailto:${decodedEmail}`} class={className}>
  <slot {decodedEmail} />
</a>
