<script lang="ts">
  import Parallax from '$components/Parallax.svelte'
  import Background from '$components/Background.svelte'
  import Footer from '$components/Footer.svelte'
  import Header from '$components/Header.svelte'
  import type { Data as Contact } from '$collections/contacts'
  import type { Data as SocialMedia } from '$collections/settings/social-media'
  import Navigation from './Navigation.svelte'

  export let contacts: Contact[]
  export let socialMedia: SocialMedia
</script>

<Parallax class="2xl:bg-gray-100">
  <div slot="base">
    <div class="2xl:container min-h-screen 2xl:mx-auto w-full bg-white relative">
      <Header />
      <Navigation />

      <div class="p-8 xl:p-12">
        <slot />
      </div>

      <Footer {contacts} {socialMedia} class="mt-64" />
    </div>
  </div>
  <Background slot="back" />
</Parallax>
