<script lang="ts">
  import SvelteMarkdown from 'svelte-markdown'
  import Paragraph from './Paragraph.svelte'
  import Link from './Link.svelte'

  export let source: string
  let className: string | undefined = undefined
  export { className as class }
</script>

<div class={className}>
  <SvelteMarkdown {source} renderers={{ paragraph: Paragraph, link: Link }} />
</div>
