<script lang="ts">
  export let text: string | undefined

  let lines: string[] = []
  $: lines = text?.replaceAll('\\-', '\u00AD').split('\n') ?? []
</script>

{#each lines as line, i}{line}{#if i < lines.length - 1}<br />{/if}{/each}
