<script lang="ts">
  import { Icon } from '@steeze-ui/svelte-icon'
  import { XMark } from '@steeze-ui/heroicons'
  import { navigating, page } from '$app/stores'
  import { browser } from '$app/environment'

  navigating.subscribe((value) => {
    if (value || !browser) return

    const menuToggle = document.getElementById('menu-toggle') as HTMLInputElement
    if (!menuToggle) return

    menuToggle.checked = false
  })
</script>

<nav class="transition-height h-0 absolute bg-mustard top-0 overflow-hidden w-full z-40">
  <div class="p-8 sm:p-12 flex flex-col">
    <label for="menu-toggle" class="cursor-pointer self-end"><Icon src={XMark} size="24" /></label>

    <ul class="flex flex-col gap-6 h-full">
      {#each $page.data.menu ?? [] as { title, href }}
        <li class="text-2xl uppercase">
          <a {href}>{title}</a>
        </li>
      {/each}

      <li class="uppercase">
        <a href="/se/choir">På Svenska</a>
      </li>

      <li class="uppercase">
        <a href="/en/choir">In English</a>
      </li>
    </ul>
  </div>
</nav>

<style lang="postcss">
  :global(#menu-toggle:checked) ~ nav {
    height: 100vh;
  }
</style>
