<script lang="ts">
  import type { DecoratedData } from '$collections/news'
  import { Icon } from '@steeze-ui/svelte-icon'
  import Markdown from './Markdown.svelte'
  import TicketLinks from './TicketLinks.svelte'
  import { ArrowLeft } from '@steeze-ui/heroicons'
  import { nextEventInstance } from '$collections/events'
  import Song from './Song.svelte'

  export let data: DecoratedData
  $: date = data.date ? new Date(data.date) : undefined
  $: hasProgram = data.program && data.program.length > 0
  $: eventInstance = data.event ? nextEventInstance(data.event) : undefined
</script>

<div class="sm:mt-12 md:mt-32 lg:mt-52 pb-64">
  <a href={`/news#${data.id}`} class="font-bold flex items-top gap-2 mb-4">
    <Icon src={ArrowLeft} size="16" class="inline h-full" />Muut ajankohtaiset
  </a>

  <article class="flex flex-col xl:flex-row w-full gap-8 justify-stretch">
    <div class="shrink-0 sm:w-64">
      <img src="/placeholder.svg" alt="" />
    </div>

    <div class="flex flex-col lg:flex-row w-full gap-8 justify-stretch">
      <div class="flex-grow max-w-prose">
        <h1 class="font-bold">
          <small class="text-base">
            <time datetime={data.date}>
              {Intl.DateTimeFormat('fi-FI', {
                day: 'numeric',
                month: 'numeric',
                year: 'numeric',
                timeZone: 'Europe/Helsinki'
              }).format(date)}
            </time>
          </small>
          <br />
          <span class="text-2xl">{data.title}</span>
        </h1>

        <Markdown source={data.content} />

        {#if eventInstance}
          <div class="w-full xl:w-96 mt-8">
            <TicketLinks links={eventInstance.ticket_links} color="bg-mustard" />
          </div>
        {/if}
      </div>

      {#if hasProgram}
        <aside class="border border-mustard rounded-lg px-12 py-12 grow shrink-0 w-full lg:w-96">
          <h3 class="font-bold tracking-widest mb-4 uppercase">Konsertin ohjelma</h3>
          <ul>
            {#each data.program as { name, composer } (name)}
              <Song {name} {composer} />
            {/each}
          </ul>
        </aside>
      {/if}
    </div>
  </article>
</div>
