<script lang="ts">
  import type { Data as EventData } from '$collections/events'
  import type { Data as NewsData } from '$collections/news'
  import { latestHeadlines } from '$lib/stores'
  import { onMount } from 'svelte'
  import NewsTitle from './NewsTitle.svelte'

  export let events: EventData[]
  export let news: NewsData[]

  let index = 0
  let hovering = false

  $: items = latestHeadlines({ events, news })

  onMount(() => {
    const interval = setInterval(() => {
      if (hovering) return
      index = (index + 1) % items.length
    }, 8000)

    return () => clearInterval(interval)
  })
</script>

<div class="md:col-start-8 md:col-span-4 z-10 h-64 relative">
  {#each items as item, i}
    {#if i === index}
      <NewsTitle {item} bind:hovering />
    {/if}
  {/each}
</div>
