<script lang="ts">
  import type { DecoratedData } from '$collections/news'
  import NewsItemWithImages from './NewsItemWithImages.svelte'
  import NewsItemWithoutImage from './NewsItemWithoutImage.svelte'

  export let data: DecoratedData
</script>

{#if data.images.length > 0}
  <NewsItemWithImages {data} images={data.images} />
{:else}
  <NewsItemWithoutImage {data} />
{/if}
