<script lang="ts">
  import type { Picture } from 'vite-imagetools'
  import ResponsiveImage from './ResponsiveImage.svelte'

  export let image: Picture | undefined
</script>

<div class="shrink-0">
  {#if image?.img.src}
    <ResponsiveImage
      {image}
      alt=""
      imgClass="w-full sm:w-64 sm:h-64 sm:aspect-square object-cover"
    />
  {:else}
    <img
      src="/placeholder.svg"
      alt=""
      class="sm:w-64 sm:h-64 aspect-video sm:aspect-square object-cover object-top"
    />
  {/if}
</div>
