<script lang="ts">
  import type { DecoratedData } from '$collections/news'
  import { Icon } from '@steeze-ui/svelte-icon'
  import Markdown from './Markdown.svelte'
  import TicketLinks from './TicketLinks.svelte'
  import { ArrowLeft } from '@steeze-ui/heroicons'
  import Slideshow from './Slideshow.svelte'
  import type { Picture } from 'vite-imagetools'
  import Program from './Program.svelte'
  import { nextEventInstance } from '$collections/events'

  export let data: DecoratedData
  export let images: { image: Picture; caption: string }[]

  $: date = data.date ? new Date(data.date) : undefined
  $: hasProgram = data.program && data.program.length > 0
  $: eventInstance = data.event ? nextEventInstance(data.event) : undefined
</script>

<div class="sm:mt-12 md:mt-32 lg:mt-52 pb-64">
  <a href={`/news#${data.id}`} class="font-bold flex items-top gap-2 mb-4">
    <Icon src={ArrowLeft} size="16" class="inline h-full" />Muut ajankohtaiset
  </a>

  <article class="flex flex-col xl:flex-row w-full gap-12 justify-stretch">
    <div class="flex flex-col lg:flex-row-reverse w-full gap-12 justify-stretch">
      <div class="flex flex-col gap-12 grow shrink-0 w-full lg:w-96 lg:-mt-44">
        <Slideshow {images} objectFit="contain" />

        {#if hasProgram}
          <Program program={data.program} class="hidden lg:block" />
        {/if}
      </div>

      <div class="flex-grow max-w-prose">
        <h1 class="font-bold">
          <small class="text-base">
            <time datetime={data.date}>
              {Intl.DateTimeFormat('fi-FI', {
                day: 'numeric',
                month: 'numeric',
                year: 'numeric',
                timeZone: 'Europe/Helsinki'
              }).format(date)}
            </time>
          </small>
          <br />
          <span class="text-2xl">{data.title}</span>
        </h1>

        <Markdown source={data.content} />

        {#if eventInstance}
          <div class="w-full xl:w-96 mt-8">
            <TicketLinks links={eventInstance.ticket_links} color="bg-mustard" />
          </div>
        {/if}
      </div>
    </div>

    {#if hasProgram}
      <Program program={data.program} class="lg:hidden" />
    {/if}
  </article>
</div>
