<script lang="ts">
  import type { LatestHeadlines } from '$lib/stores'
  import MultiLine from './MultiLine.svelte'
  import { fly } from 'svelte/transition'

  export let item: LatestHeadlines[number]
  export let hovering = false

  $: href = item.type === 'event' ? `/concerts/#${item.slug}` : `/news/${item.slug}`
  $: text = item.type === 'event' ? item.description : item.excerpt
</script>

<figure
  class="absolute"
  out:fly={{ x: -200, duration: 400 }}
  in:fly={{ x: 200, duration: 400 }}
  on:mouseenter={() => (hovering = true)}
  on:mouseleave={() => (hovering = false)}
  aria-live="polite"
  aria-atomic="true"
>
  <div class="flex flex-col">
    <h2 class="text-lg md:text-xl xl:text-3xl font-serif font-bold uppercase mb-4 tracking-wider">
      <small
        class="md:text-lg font-light font-sans tracking-wider uppercase before:content-['//_']"
      >
        <a href="/news">Ajankohtaista</a>
      </small>
      <br />

      <a {href}>
        <MultiLine {text} />
      </a>
    </h2>
    {#if item.type === 'event'}
      <div class="md:text-lg font-light tracking-wider self-end flex flex-col leading-tight">
        <a href={`/concerts/#${item.slug}`}>
          <time
            class="relative before:absolute before:-left-6 before:content-['↗']"
            datetime={item.time.toISOString()}
          >
            {Intl.DateTimeFormat('fi-FI', { timeZone: 'Europe/Helsinki' }).format(item.time)}
          </time>
        </a>
        <span class="uppercase">{item.place.name}</span>
      </div>
    {/if}
  </div>
</figure>
