<script lang="ts">
  import type { DecoratedData } from '$collections/pages/news'
  import NewsItemImage from './NewsItemImage.svelte'
  import SubpageTitle from './SubpageTitle.svelte'

  export let data: DecoratedData
</script>

<div class="flex sm:justify-end sm:mr-48">
  <SubpageTitle>{data.title}</SubpageTitle>
</div>

<div class="flex flex-col gap-12 md:gap-8 w-full xl:w-2/3 sm:mt-36 pb-44">
  {#each data.newsItems as { slug, images, title, date, excerpt }}
    <article class="flex flex-col md:flex-row w-full gap-8 justify-stretch">
      <NewsItemImage image={images[0].image} />

      <div class="flex-grow max-w-prose">
        <h3 class="font-bold">
          <small class="text-base">
            <time datetime={date}>
              {Intl.DateTimeFormat('fi-FI', {
                day: 'numeric',
                month: 'numeric',
                year: 'numeric',
                timeZone: 'Europe/Helsinki'
              }).format(new Date(date))}
            </time>
          </small>
          <br />
          <span class="text-2xl">{title}</span>
        </h3>

        <p class="mt-4 mb-4">{excerpt}</p>

        <a href={`/news/${slug}`} class="uppercase tracking-wider">↗ Lue lisää</a>
      </div>
    </article>
  {/each}
</div>
