<script lang="ts">
  import type { PreviewData } from '$collections/news/preview'
  import NewsItem from './NewsItem.svelte'

  import { news as wave } from '$lib/waves'
  import SubpageLayout from './SubpageLayout.svelte'
  export let data: PreviewData
</script>

<SubpageLayout {wave} contacts={data.contacts} socialMedia={data.socialMedia}>
  <NewsItem {data} />
</SubpageLayout>
