<script lang="ts">
  export let href: string | undefined | null
  export let title: string | undefined = undefined
  export let target: '_blank' | undefined = undefined
  export let rel: string | undefined = undefined
</script>

{#if href}
  <a {href} {title} {target} {rel}>
    <slot />
  </a>
{:else}
  <slot />
{/if}
