<script lang="ts">
  let className = ''
  export { className as class }
</script>

<div class={`parallax ${className}`}>
  <div class="parallax__layer parallax__layer--back z-30">
    <slot name="back" />
  </div>

  <div class="parallax__layer parallax__layer--base">
    <slot name="base" />
  </div>
</div>

<style>
  @media (hover: none) {
    .parallax__layer--back {
      display: none;
    }
  }

  @media (hover: hover) {
    .parallax {
      perspective: 1px;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: auto;
    }

    .parallax__layer {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translate3d(0, 0, 0);
    }

    .parallax__layer--back {
      transform: translateZ(-2px) scale(3);
      pointer-events: none;
    }

    .parallax__layer--base {
      transform: translateZ(0);
    }
  }
</style>
