<script lang="ts">
  import PastEvents from './PastEvents.svelte'
  import SubpageLayout from './SubpageLayout.svelte'
  import type { DecoratedData } from '$collections/pages/past-events'

  import { pastEvents as wave } from '$lib/waves'
  export let data: DecoratedData
</script>

<SubpageLayout {wave} contacts={data.contacts} socialMedia={data.socialMedia}>
  <PastEvents {data} />
</SubpageLayout>
