<script lang="ts">
  import type { DecoratedData } from '$collections/pages/past-events'
  import { last, pipe, compact, map, groupBy, shuffle, chunk } from 'remeda'
  import SubpageTitle from './SubpageTitle.svelte'
  import BlockQuote from './BlockQuote.svelte'
  import { classes } from '$lib/util'
  import HighlightsCarousel from './HighlightsCarousel.svelte'
  import { onMount } from 'svelte'
  import { Icon } from '@steeze-ui/svelte-icon'
  import { ChevronLeft, ChevronRight } from '@steeze-ui/heroicons'
  import EventItem from './EventItem.svelte'

  export let data: DecoratedData

  let eventsByYear = pipe(
    data.events,
    map((event) => {
      const years = pipe(
        event.instances,
        map(({ time }) => new Date(time).getFullYear())
      )

      const year = last(years)
      if (!year) return null

      return { ...event, year }
    }),
    compact,
    groupBy((event) => event.year)
  )

  $: years = Object.keys(eventsByYear).sort((a, b) => Number(b) - Number(a))

  let selectedYear: string | undefined
  let page = 0

  let quotePages: DecoratedData['quotes'][] = []

  onMount(() => {
    quotePages = pipe(data.quotes, shuffle(), chunk(4))
    selectedYear = last(Object.keys(eventsByYear))
  })

  const nextPage = () => {
    if (page === quotePages.length - 1) {
      return
    }

    page += 1
  }

  const prevPage = () => {
    if (page === 0) {
      return
    }

    page -= 1
  }
</script>

<div class="mt-8 sm:mt-0 sm:ml-32">
  <SubpageTitle>
    {data.title}
  </SubpageTitle>

  <p class="md:w-96 mb-16 uppercase">
    {data.summary}
  </p>
</div>

<HighlightsCarousel highlights={data.highlights} />

<div class="flex lg:flex-row justify-between mt-16 lg:mb-40 flex-col-reverse gap-16">
  <section class="lg:mt-40 md:w-1/2">
    <h2 class="text-2xl font-bold tracking-wider mb-4">Menneet esiintymiset</h2>

    <p class="text-sm uppercase tracking-widest">
      Tästä löydät kaikki esiintymisemme eri vuosilta.
    </p>

    <select
      bind:value={selectedYear}
      class="my-8 font-bold h-14 pt-2 pl-5 pr-16 rounded-lg bg-cottoncandy"
    >
      {#each years as year}
        <option value={year}>
          {year}
        </option>
      {/each}
    </select>

    <ul class="flex flex-col gap-4">
      {#if selectedYear}
        {#each eventsByYear[selectedYear] as event}
          <EventItem data={event} />
        {/each}

        {#if selectedYear === '2020'}
          <li class="flex flex-col">
            <h3 class="italic">Vuoden 2020 muut esiintymiset peruttiin koronapandemian takia.</h3>
          </li>
        {/if}

        {#if selectedYear === '2021'}
          <li class="flex flex-col">
            <h3 class="italic">
              Kevään ja kesän 2021 esiintymiset peruttiin koronapandemian takia.
            </h3>
          </li>
        {/if}
      {/if}
      <noscript>
        {#each data.events as event}
          <EventItem data={event} class="mt-4" />
        {/each}

        <li class="flex flex-col">
          <h3 class="italic">Kevään ja kesän 2021 esiintymiset peruttiin koronapandemian takia.</h3>
        </li>

        <li class="flex flex-col">
          <h3 class="italic">Vuoden 2020 muut esiintymiset peruttiin koronapandemian takia.</h3>
        </li>
      </noscript>
    </ul>
  </section>

  <section id="quotes">
    <h2 class="text-2xl font-bold tracking-wider mb-4">Mitä meistä sanotaan</h2>

    <div class="flex flex-col gap-12 items-start">
      <div class="flex gap-2">
        <button
          type="button"
          disabled={page === 0}
          on:click={prevPage}
          class={classes('px-5 h-14 rounded-lg', page === 0 ? 'bg-silver' : 'bg-cottoncandy')}
        >
          <Icon src={ChevronLeft} size="24" />
          <span class="sr-only">Edellinen sivu</span>
        </button>

        <button
          type="button"
          on:click={nextPage}
          class={classes(
            'px-5 h-14 rounded-lg',
            page === quotePages.length - 1 ? 'bg-silver' : 'bg-cottoncandy'
          )}
          disabled={page === quotePages.length - 1}
        >
          <Icon src={ChevronRight} size="24" />
          <span class="sr-only">Seuraava sivu</span>
        </button>
      </div>

      <noscript>
        {#each data.quotes as quote}
          <BlockQuote data={quote} context="past-events" class="lg:w-96 xl:w-100 mt-8" />
        {/each}
      </noscript>

      <div class="grid grid-cols-1 overflow-x-clip">
        {#each quotePages as quotePage, i}
          <div
            class={classes(
              'w-full transition flex flex-col row-start-1 col-start-1 gap-8',
              i !== page && 'opacity-0 -z-10',
              i < page && '-translate-x-44',
              i > page && 'translate-x-44'
            )}
          >
            {#each quotePage as quote}
              <BlockQuote data={quote} context="past-events" class="lg:w-96 xl:w-100" />
            {/each}
          </div>
        {/each}
      </div>
    </div>
  </section>
</div>
