<script lang="ts">
  export let title: string
  export let size: string
  export let href: string
  export let filetype: string
</script>

<li class="flex flex-col sm:flex-row sm:w-[440px] sm:gap-8 mb-8 sm:mb-0 sm:items-center">
  <div class="flex flex-col uppercase tracking-widest sm:w-1/2">
    <span class="font-bold">{title}</span>
    <span>({size})</span>
  </div>

  <a
    {href}
    class="uppercase text-lg lg:text-xl cursor-pointer font-bold tracking-widest rounded-lg bg-silver text-center pt-5 pb-4 h-full sm:w-1/2"
    download={`${title}.${filetype}`}
  >
    Lataa {filetype}
  </a>
</li>
