<script lang="ts">
  import Press from './Press.svelte'
  import SubpageLayout from './SubpageLayout.svelte'
  import type { DecoratedData } from '$collections/pages/press'

  import { press as wave } from '$lib/waves'
  export let data: DecoratedData
</script>

<SubpageLayout {wave} contacts={data.contacts} socialMedia={data.socialMedia}>
  <Press {data} />
</SubpageLayout>
