<script lang="ts">
  import type { DecoratedData } from '$collections/pages/press'
  import Contact from './Contact.svelte'
  import Heading2 from './Heading2.svelte'
  import Markdown from './Markdown.svelte'
  import SubpageTitle from './SubpageTitle.svelte'
  import splash from '$media/static/splash.svg'
  import PressDownload from './PressDownload.svelte'
  import MailTo from './MailTo.svelte'

  export let data: DecoratedData
</script>

<div class="-mt-13">
  <SubpageTitle>{data.title}</SubpageTitle>

  <h2 class="uppercase font-bold text-lg mt-12 mb-4">{data.org_name}</h2>

  <div class="flex flex-col md:flex-row justify-between">
    <ul>
      {#each data.contacts as contact}
        <li>
          <Contact data={contact} class="mb-4" style="press" />
        </li>
      {/each}
    </ul>

    <article
      class="pl-10 pt-16 mt-20 xl:p-36 pb-20 bg-no-repeat z-10 bg-60 xl:bg-contain xl:bg-center w-full sm:w-96 md:w-80 xl:w-[600px] md:-mt-20 lg:-mt-42"
      style={`background-image: url("${splash}")`}
    >
      <Heading2>{data.booking.title}</Heading2>

      <Markdown class="mb-8" source={data.booking.text} />

      <MailTo class="uppercase" email={data.booking.contact_link.email}>↗ Ota yhteyttä</MailTo>
    </article>
  </div>

  <div class="mb-20 mx-0 sm:mx-auto xl:mx-80 w-fit z-50">
    <Heading2>Lehdistömateriaali</Heading2>

    <ul class="flex flex-col gap-4">
      <PressDownload
        title="kuoron cv"
        size={data.download_sizes.choir_cv}
        filetype="pdf"
        href="/press/choir-cv.pdf"
      />
      <PressDownload
        title="kuoronjohtajan cv"
        size={data.download_sizes.conductor_cv}
        filetype="pdf"
        href="/press/conductor-cv.pdf"
      />
      <PressDownload
        title="kuvamateriaali"
        size={`${data.images.length} Kuvaa ${data.download_sizes.images_archive}`}
        filetype="zip"
        href="/press/images.zip"
      />
    </ul>
  </div>
</div>
