<script lang="ts">
  import type { DecoratedData } from '$collections/news'
  import { classes } from '$lib/util'
  import Song from './Song.svelte'

  export let program: DecoratedData['program']
  let className: string | undefined = undefined
  export { className as class }
</script>

<aside
  class={classes(
    'border border-mustard rounded-lg px-12 py-12 grow shrink-0 w-full lg:w-4/5',
    className
  )}
>
  <h3 class="font-bold tracking-widest mb-4 uppercase">Konsertin ohjelma</h3>
  <ul>
    {#each program as { name, composer } (name)}
      <Song {name} {composer} />
    {/each}
  </ul>
</aside>
