<script lang="ts">
  import type { Data } from '$collections/quotes'
  import { onMount } from 'svelte'
  import Quote from './Quote.svelte'
  import { fly } from 'svelte/transition'
  import { classes } from '$lib/util'

  let className: string | undefined = undefined
  export { className as class }
  export let data: Data[]

  let index = 0
  let hovering = false

  onMount(() => {
    const interval = setInterval(() => {
      if (hovering) return
      index = (index + 1) % data.length
    }, 8000)

    return () => clearInterval(interval)
  })
</script>

<div class={classes(className, 'relative h-44 sm:h-20 md:h-44')}>
  {#each data as quote, i}
    {#if i === index}
      <div class="absolute" out:fly={{ x: -200, duration: 400 }} in:fly={{ x: 200, duration: 400 }}>
        <Quote data={quote} class={className} bind:hovering context="home" />
      </div>
    {/if}
  {/each}
</div>
