<script lang="ts">
  import { classes } from '$lib/util'
  import type { Data } from '$collections/quotes'
  import BlockQuote from './BlockQuote.svelte'

  export let data: Data
  export let hovering = false
  let className: string | undefined = undefined
  export { className as class }
  export let context: 'home' | 'past-events'
</script>

<section class={classes('flex flex-col', className)}>
  <a href="/highlights#quotes">
    <h3 class="text-lg font-light tracking-wider uppercase before:content-['//_']">
      Mitä meistä sanotaan
    </h3>
  </a>

  <BlockQuote {data} {context} bind:hovering />
</section>
