<script lang="ts">
  import SubpageTitle from './SubpageTitle.svelte'
  import Song from './Song.svelte'
  import type { DecoratedData } from '$collections/pages/rauhaa'
  import Markdown from './Markdown.svelte'
  import MailTo from './MailTo.svelte'
  import ResponsiveImage from './ResponsiveImage.svelte'
  import SongList from './SongList.svelte'

  export let data: DecoratedData
</script>

<div class="flex flex-col xl:flex-row gap-12 mb-28">
  <ResponsiveImage
    image={data.image}
    alt={data.title}
    class="mx-auto xl:mx-0 xl:min-w-[500px] max-w-[500px]"
  />

  <div class="flex flex-col justify-between gap-12">
    <div class="xl:ml-64">
      <SubpageTitle>{data.title}</SubpageTitle>

      <p class="uppercase mb-4">{data.summary}</p>

      <Markdown source={data.introduction} class="mb-6" />

      <a href="/concerts" class="uppercase tracking-wide">↗ {data.concerts.link_text}</a>
    </div>

    <div class="md:w-96 mt-8 xl:mt-0 -mb-2 flex-shrink-0">
      <h2 class="text-2xl font-bold tracking-widest mb-8 w-72">{data.concerts.title}</h2>

      <Markdown source={data.concerts.description} class="mb-8" />
    </div>
  </div>
</div>

<div class="flex flex-col xl:flex-row mb-12 gap-16">
  <div class="md:w-96">
    <h2 class="text-2xl font-bold tracking-widest mb-8">{data.record.title}</h2>

    <Markdown source={data.record.description} class="mb-6" />
    <a href={data.record.listen_link} class="uppercase tracking-wide text-base">↗ Kuuntele</a>

    <br />

    <a
      href={data.record.order_link}
      class="uppercase tracking-widest bg-silver px-14 py-5 mt-6 rounded-lg font-bold inline-block text-base"
      >Osta</a
    >
  </div>

  <div class="p-8 border border-silver rounded-lg">
    <h3 class="text-lg font-bold tracking-widest mb-8">{data.record.info.title}</h3>

    <ul class="columns-1 sm:columns-2 gap-12 mb-6">
      {#each data.record.info.data as { label, value } (label)}
        <li>
          <span class="uppercase tracking-wider">{label}</span><span class="sr-only">:</span>
          {value}
        </li>
      {/each}
    </ul>

    <SongList songs={data.record.info.songs} />
  </div>
</div>

<div class="flex flex-col xl:flex-row gap-20 sm:w-3/4 mb-44">
  <section class="flex flex-col items-center sm:items-start sm:flex-row">
    <h3
      class="rounded-full bg-silver w-32 h-32 text-center flex items-center justify-center uppercase font-bold tracking-widest shrink-0 pt-2"
    >
      Määrä&shy;alennus
    </h3>

    <div class="mt-8 sm:mt-28">
      <Markdown source={data.discount.text} class="mb-4" />

      <MailTo email={data.discount.contact} class="uppercase tracking-wide">↗ Ota yhteyttä</MailTo>
    </div>
  </section>

  <section class="flex flex-col items-center sm:items-start sm:flex-row">
    <h3
      class="rounded-full bg-silver w-32 h-32 text-center flex items-center justify-center uppercase font-bold tracking-widest shrink-0 pt-2"
    >
      Toimitus&shy;kulut
    </h3>

    <div class="mt-8 sm:mt-28">
      <Markdown source={data.shipping.text} class="mb-4" />

      <MailTo email={data.shipping.contact} class="uppercase tracking-wide">↗ Ota yhteyttä</MailTo>
    </div>
  </section>
</div>

<div class="flex flex-col xl:flex-row gap-12 xl:ml-64 mb-36 xl:mb-16">
  <ResponsiveImage
    image={data.business.image}
    alt={data.business.image_alt}
    class="mx-auto xl:mx-0 sm:max-w-2xl"
  />

  <div class="md:w-96">
    <h2 class="text-2xl font-bold tracking-widest mb-8">{data.business.title}</h2>

    <Markdown source={data.business.text} class="mb-4" />

    <MailTo email={data.business.mail_link.link} class="uppercase tracking-wide">
      ↗ {data.business.mail_link.text}
    </MailTo>
  </div>
</div>
