<script lang="ts">
  import Rauhaa from './Rauhaa.svelte'
  import SubpageLayout from './SubpageLayout.svelte'
  import type { DecoratedData } from '$collections/pages/rauhaa'

  import { rauhaa as wave } from '$lib/waves'
  export let data: DecoratedData
</script>

<SubpageLayout {wave} contacts={data.contacts} socialMedia={data.socialMedia}>
  <Rauhaa {data} />
</SubpageLayout>
