<script lang="ts">
  import ResponsiveImage from './ResponsiveImage.svelte'
  import type { DecoratedData } from '$collections/records'
  import Song from './Song.svelte'
  import Markdown from './Markdown.svelte'
  import SongList from './SongList.svelte'
  export let data: DecoratedData
</script>

<div class="flex flex-col xl:flex-row border border-mustard rounded-lg">
  <div class="flex flex-col p-6 items-end justify-between">
    <div class="flex flex-col md:flex-row gap-6">
      <ResponsiveImage
        image={data.cover}
        alt={`${data.title} levyn kansi`}
        class="md:w-60 md:h-60 p-2 border border-black shrink-0"
        imgClass="object-cover"
      />

      <div class="flex flex-col items-start justify-between mt-8">
        <div>
          <h2 class="text-2xl font-bold tracking-widest mb-4">{data.title}</h2>

          <Markdown source={data.description} class="mb-6" />
          <a href={data.listen_link} class="uppercase tracking-wide text-base">↗ Kuuntele</a>
        </div>
      </div>
    </div>

    <a
      href={data.order_link}
      class="uppercase tracking-widest bg-mustard px-14 py-5 mt-6 rounded-lg font-bold inline-block text-base"
      >Tilaa</a
    >
  </div>

  <div class="border-t xl:border-t-0 xl:border-l border-mustard border-dashed px-12 py-12 shrink-0">
    <h3 class="font-bold tracking-widest mb-4 uppercase">{data.info.title}</h3>

    <div class="flex">
      <ul class="flex flex-col mb-6 w-1/2 gap-3">
        {#each data.info.data as { label, value } (label)}
          <li class="flex flex-col sm:flex-row sm:gap-2">
            <div>
              <span class="uppercase tracking-wider">{label}</span>
              <span class="sr-only">:</span>
            </div>
            <span>{value}</span>
          </li>
        {/each}
      </ul>
      <span class="w-1/2 ml-12 text-2xl font-bold tracking-widest text-mustard"
        >{Intl.NumberFormat('fi-FI', {
          style: 'currency',
          currency: 'EUR',
          maximumFractionDigits: 0
        }).format(data.price)}</span
      >
    </div>

    <SongList songs={data.info.songs} />
  </div>
</div>
