<script lang="ts">
  import type { DecoratedData } from '$collections/records'
  import Record from './Record.svelte'

  export let data: DecoratedData
</script>

<div class="bg-white p-8">
  <Record {data} />
</div>
