<script lang="ts">
  import type { Picture } from 'vite-imagetools'

  export let image: Picture
  export let className: string | undefined = undefined
  export let imgClass: string | undefined = undefined
  export { className as class }
  export let alt: string
  export let title: string | undefined = undefined
  export let loading: 'lazy' | 'eager' | undefined = undefined
</script>

<picture class={className}>
  {#each Object.entries(image.sources) as [format, images]}
    <source
      srcset={images.map(({ src, w }) => `${src} ${w}w`).join(', ')}
      type={`image/${format}`}
    />
  {/each}
  <img src={image.img.src} {alt} title={title ?? alt} class={imgClass} {loading} {...$$restProps} />
</picture>
