<script lang="ts">
  import type { DecoratedData } from '$collections/samples'
  import ResponsiveImage from './ResponsiveImage.svelte'

  export let data: DecoratedData
</script>

<li class="flex flex-col md:flex-row gap-4 md:gap-8">
  <a href={data.link} target="_blank" rel="noopener noreferrer" class="md:w-80 shrink-0">
    <ResponsiveImage
      image={data.thumbnail}
      alt={`${data.composer} - ${data.title}`}
      class="w-full"
      imgClass="md:aspect-[16/9] object-cover"
    />
  </a>

  <div class="flex flex-col md:py-4 gap-6">
    <div class="flex flex-col tracking-widest">
      <h2 class="text-2xl font-bold">{data.title}</h2>
      <h3 class="text-sm font-bold uppercase">{data.composer}</h3>
    </div>

    <div class="flex flex-col uppercase tracking-widest">
      <span>{data.type}</span>
      {#if data.context}<span>{data.context}</span>{/if}
      <div>
        <time datetime={data.time}>{data.time}</time>
        {#if data.location}{data.location}{/if}
      </div>
    </div>
  </div>
</li>
