<script lang="ts">
  import { classes } from '$lib/util'
  import { onMount } from 'svelte'
  import type { Picture } from 'vite-imagetools'
  import ResponsiveImage from './ResponsiveImage.svelte'

  let className: string | undefined = undefined
  export { className as class }
  export let images: { image: Picture; caption: string }[]
  export let objectFit: 'contain' | 'cover' = 'cover'

  let currentIndex = 0

  onMount(() => {
    const interval = setInterval(() => {
      currentIndex = (currentIndex + 1) % images.length
    }, 5000)
    return () => clearInterval(interval)
  })
</script>

<div class={classes("relative before:content-[''] before:block before:pt-[75%]", className)}>
  {#each images as { image, caption }, i}
    <ResponsiveImage
      {image}
      alt={caption}
      title={i === currentIndex ? caption : ''}
      aria-hidden={i !== currentIndex}
      class={classes('absolute top-0 left-0 w-full h-full', i !== currentIndex && '-z-10')}
      imgClass={classes(
        'transition-opacity ease-in-out duration-500 h-full',
        i === currentIndex ? 'opacity-100' : 'opacity-0',
        objectFit === 'contain' ? 'object-contain' : 'object-cover'
      )}
      loading="lazy"
    />
  {/each}
</div>
