<script lang="ts">
  import ListItem from './Song.svelte'
  import type { Song } from '$collections/records'

  export let songs: Song[]
</script>

<ul class="columns-1 sm:columns-2 gap-12">
  {#each songs as { name, composer } (name)}
    <ListItem {name} {composer} />
  {/each}
</ul>
