<script lang="ts">
    import MultiLine from "./MultiLine.svelte"

  export let name: string
  export let composer: string
</script>

<li class="flex flex-col break-inside-avoid mb-3">
  <span class="font-bold">{name}</span><span class="sr-only">{' - '}</span>
  <span><MultiLine text={composer} /></span>
</li>
