<script lang="ts">
  import { classes } from '$lib/util'
  let className: string | undefined = undefined
  export { className as class }
</script>

<h1 class={classes(className, 'text-4xl lg:text-5xl font-bold tracking-widest mb-8 max-w-lg')}>
  <slot />
</h1>
