<script lang="ts">
  import Footer from '$components/Footer.svelte'
  import type { Data as Contact } from '$collections/contacts'
  import type { Data as SocialMedia } from '$collections/settings/social-media'
  import Wave from './Wave.svelte'
  import Header from './Header.svelte'
  import { classes, colorClasses } from '$lib/util'
  import type { PageData } from '../routes/(subpages)/[[locale]]/choir/$types'
  import Navigation from './Navigation.svelte'

  export let contacts: Contact[]
  export let socialMedia: SocialMedia
  export let wave: PageData['wave']
</script>

<div class="2xl:bg-gray-100">
  <div class="flex flex-col 2xl:container min-h-screen 2xl:mx-auto bg-white relative">
    <Header color={wave.color}>
      <Wave xOffset={wave.xOffsetTop} color={wave.color} align={wave.align} fill="top" />
    </Header>

    <Navigation />

    <div class="p-8 -my-44 md:p-20 md:-my-56 flex-grow z-20">
      <slot />
    </div>

    <Footer {contacts} {socialMedia} class="w-full relative z-10">
      <Wave xOffset={wave.xOffsetBottom} color={wave.color} fill="bottom" />
      <div class={classes('h-52', colorClasses.bg[wave.color])} />
    </Footer>
  </div>
</div>
