<script lang="ts">
  import type { TicketLinks } from '$collections/events'
  import { fly } from 'svelte/transition'
  import { classes } from '$lib/util'

  export let links: TicketLinks | undefined
  export let color: 'bg-mustard' | 'bg-cottoncandy' = 'bg-cottoncandy'

  let showTicketLinks = false

  $: hasTicketLinks = !!(links?.holvi || links?.tiketti)
</script>

<div class="w-full flex items-stretch text-center gap-4">
  {#if hasTicketLinks && showTicketLinks}
    {#if links?.holvi}
      <a
        class={classes(color, 'font-bold uppercase tracking-widest py-6 rounded-lg w-1/2')}
        transition:fly
        href={links.holvi}
        target="_blank"
        rel="noopener noreferrer"
      >
        Liput Holvi
      </a>
    {/if}

    {#if links?.tiketti}
      <a
        class={classes(color, 'font-bold uppercase tracking-widest py-6 rounded-lg w-1/2')}
        transition:fly={{ x: -100 }}
        href={links.tiketti}
        target="_blank"
        rel="noopener noreferrer"
      >
        Liput Tiketti
      </a>
    {/if}
  {:else}
    <button
      class={classes(
        'font-bold uppercase tracking-widest py-6 rounded-lg w-1/2',
        hasTicketLinks ? color : 'bg-silver'
      )}
      on:click={() => (showTicketLinks = true)}
      disabled={!hasTicketLinks}
    >
      Liput
    </button>
  {/if}
</div>
