<script lang="ts">
  import { base64encode } from '$lib/util'
  import { line } from 'd3-shape'

  const period = 1800
  const amplitude = 120
  export let xOffset: number
  export let fill: 'top' | 'bottom' = 'top'
  export let color: string
  export let align: 'left' | 'right' | 'center' | '0% 0%' = '0% 0%'

  // create d3 line generator
  const lineGen = line()

  // generate data for one period of a sine wave
  const generateSineWave = () => {
    const sineWave = Array.from({ length: 100 }, (_, i): [number, number] => {
      const x = (i / 99) * period
      const y = amplitude * (1 + Math.sin(2 * Math.PI * (i / 99) + xOffset))
      return [x, y]
    })

    if (fill === 'top') {
      sineWave.push([period, 0], [0, 0])
    } else {
      sineWave.push([period, 2 * amplitude], [0, 2 * amplitude])
    }

    return sineWave
  }

  let svgData: string
  $: hexColor = (TAILWIND_THEME?.colors?.[color] as string) ?? 'black'

  $: {
    // update the d attribute of the wave
    const waveData = lineGen(generateSineWave())
    const svgString = `
      <svg xmlns="http://www.w3.org/2000/svg" width="${period}" height="${2 * amplitude}">
        <path d="${waveData}" fill="${hexColor}" />
      </svg>
    `
    svgData = `url(data:image/svg+xml;base64,${base64encode(svgString)})`
  }

  $: containerStyle = `
    background-image: ${svgData};
    background-size: ${period}px ${2 * amplitude}px;
    background-repeat: repeat-x;
    background-position: ${align};
    width: 100%;
    height: ${2 * amplitude}px;
  `
</script>

<div style={containerStyle} />
