/* eb-garamond-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/eb-garamond-v26-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/eb-garamond-v26-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/eb-garamond-v26-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/eb-garamond-v26-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/eb-garamond-v26-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/eb-garamond-v26-latin-regular.svg#EBGaramond')
      format('svg'); /* Legacy iOS */
}
/* eb-garamond-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/eb-garamond-v26-latin-600.eot'); /* IE9 Compat Modes */
  src: url('/fonts/eb-garamond-v26-latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/eb-garamond-v26-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/eb-garamond-v26-latin-600.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/eb-garamond-v26-latin-600.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/eb-garamond-v26-latin-600.svg#EBGaramond') format('svg'); /* Legacy iOS */
}
/* eb-garamond-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/eb-garamond-v26-latin-600italic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/eb-garamond-v26-latin-600italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/eb-garamond-v26-latin-600italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/eb-garamond-v26-latin-600italic.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/eb-garamond-v26-latin-600italic.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/eb-garamond-v26-latin-600italic.svg#EBGaramond')
      format('svg'); /* Legacy iOS */
}

/* tajawal-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/tajawal-v9-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('/fonts/tajawal-v9-latin-300.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* tajawal-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/tajawal-v9-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('/fonts/tajawal-v9-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* tajawal-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/tajawal-v9-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('/fonts/tajawal-v9-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* tajawal-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/tajawal-v9-latin-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('/fonts/tajawal-v9-latin-800.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
